// global font size set
html {
    font-size: 125%;
}

// sizing
.formContainer,
.genreTagsContainer {
    width: 0;
}

.formContainer,
.genreTagsContainer {
    height: 0;
}

.activeSearch,
form,
.genreTags,
.headerFlexContainer,
.headerOverlay,
.topPosition form {
    width: 100%;
}



// transitions
header,
.headerFlexContainer {
    transition: all 1s ease;
}


// images
img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.imageContainer {
    max-width: 250px;
    width: 100%;
}

// utility classes
.wrapper {
    margin: 0 auto;
    max-width: 1350px;
    width: 95%;
}