header {
    background-image: url(../assets/headerBackground.jpg);
    background-position: center center;
    background-size: cover;
    transition: all 1s ease;
}

.headerOverlay {
    background-color: rgba(47, 42, 42, 0.649);
    height: 100%;
    width: 100%;
}

.headerFlexContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    justify-content: center;
    min-height: 750px;
    transition: all 1s ease;
    width: 100%;
}

.topHeaderFlexContainer,
.bottomHeaderFlexContainer {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: flex-end;
}

.bottomHeaderFlexContainer {
    justify-content: flex-start;
}

.topPosition {
    flex-direction: row;
    height: 150px;
    justify-content: space-between;
    min-height: 150px;
    
    & > .formContainer {
        align-items: flex-start;
        align-self: flex-start;
        padding-top: 50px;
    }
	
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        display: none;
    }

    .search {
        font-size: 1.5rem;
    }

    .button {
        padding: 7px 15px;
    }

    & > .formContainer .dropdownItem {
        background-color: rgb(79, 69, 62);
    }

    .headerFlexContainer {
        flex-wrap: wrap;
    }

    .topHeaderFlexContainer {
        flex-direction: row;
        height: 100%;
    }

    .buttonContainer {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        margin: 0;
        .button{
            border-radius: 10px;
            font-size: 1rem;
            width: 150px;
        }
    }

    .bottomHeaderFlexContainer {
        flex-direction: row;
    }

    form {
        width: 100%;
    }

    .genreTag {
        font-size: 1rem;
        height: 100px;
        width: 100px;
        margin: 5px;
        font-weight: bold;
    }
    
    .dropdown {
        left: 0;
        width: 95%;
        .dropdownItem{
            background-color:rgba(36,36,36,1);
        }
    }
}

h1 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Crimson Text', serif;
    font-size: 5rem;
    margin: 10px 0;
}

h2 {
    color: rgb(249, 249, 249);
}

.subHeading {
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    width: 100%;
}

.search {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    padding: 5px;
    width: 80%;
    &:focus{
        outline:none;
    }
}

.button {
	background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    line-height: 1;
    margin-left: 10px;
    padding: 8px 15px;
    text-transform: uppercase;
    &:focus,
    &:hover {
        border: 3px solid rgb(255, 215, 0);
    }
}

.buttonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .button {
        border-radius: 20px;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin: 0 25px;
        padding: 16px 30px;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease;
    visibility: hidden;
    width: 0;
}