@import "partials/setup";
@import "partials/global";

header {
    background-image: url(../assets/headerBackground.jpg);
    background-position: center center;
    background-size: cover;
    transition: all 1s ease;
}

.headerOverlay {
    background-color: rgba(47, 42, 42, 0.649);
    height: 100%;
    width: 100%;
}

.headerFlexContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    justify-content: center;
    min-height: 750px;
    transition: all 1s ease;
    width: 100%;
}

.topHeaderFlexContainer,
.bottomHeaderFlexContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    justify-content: flex-end;
}

.bottomHeaderFlexContainer{
    justify-content: flex-start;
}

.topPosition {
    flex-direction: row;
    height: 150px;
    min-height: 150px;
    justify-content: space-between;
    & > .formContainer{
        align-items: flex-start;
        align-self: flex-start;
        padding-top: 50px;
    }
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        display: none;
    }

    .search {
        font-size: 1.5rem;
    }

    .button {
        padding: 7px 15px;
    }

    & > .formContainer .dropdownItem {
        background-color: rgb(79, 69, 62);
    }

    .headerFlexContainer {
        flex-wrap: wrap;
    }

    .topHeaderFlexContainer{
        flex-direction: row;
        height: 100%;
        
    }
    .buttonContainer{
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        margin: 0;
        .button{
            font-size: 1rem;
            border-radius: 10px;
            width: 150px;
        }
    }
    .bottomHeaderFlexContainer{
        flex-direction: row;
    }
    form{
        width: 100%;
    }

    .genreTag{
        font-size: 1rem;
        height: 100px;
        width: 100px;
        margin: 5px;
        font-weight: bold;
    }
    
    .dropdown{
        left: 0;
        width: 95%;
        .dropdownItem{
            background-color:rgba(36,36,36,1);
        }
    }
}

h1 {
    color: white;
    font-family: 'Crimson Text', serif;
    font-size: 5rem;
    margin: 10px 0;
}

h2 {
    color: #f9f9f9;
}

form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    width: 100%;
}

.search {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    font-size: 2.5rem;
    padding: 5px;
    width: 80%;

    &:focus{
        outline:none;
    }
}

.button {
    font-family: 'Crimson Text', serif;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 10px;
    padding: 8px 15px;
    text-transform: uppercase;
    line-height: 1;

    &:focus,
    &:hover {
        border: 3px solid gold;
    }
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    .button{
        font-size: 2.5rem;
        border-radius: 20px;
        text-transform: uppercase;
        padding: 16px 30px;
        margin: 0 25px;
    }
}

.formContainer{
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease;
    margin: 20px;
    visibility: hidden;
    width: 0;
}

.dropdown {
    display: none;
    max-width: 760px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 98%;
}

.isActive {
    display:flex;
}

.dropdownMenu {
    width: 80%;
    .dropdownItem {
        background-color: rgba(255, 255, 255, 0.2);
        list-style-type: none;
        color: white;
        padding: 10px;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover,
        &:focus{
            border: 1px solid white;
            outline: none;
        }
    }

    .dropdownContent {
        padding-left: 0;
        margin: 0;
        max-height: 200px;
        overflow-y: scroll;
    }
}

.subHeading {
    margin: 0;
    margin-top: 20px;
}

.genreTagsContainer{
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    transition: opacity 1s ease;
}

.genreTags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.activeSearch{
    height: auto;
    visibility: visible;
    opacity: 1;
    overflow: visible;
    width: 100%;
}

.genreTag {
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 160px;
    justify-content: center;
    width: 160px;
    margin: 20px;

    &.rnb:focus,
    &.rnb:hover {
        border-color: rgb(98, 98, 180);
        outline: none;
    }

    &.pop:focus,
    &.pop:hover {
        border-color: rgb(251, 79, 176);
        outline: none;
    }

    &.rock:focus,
    &.rock:hover {
        border-color: rgb(254, 64, 64);
        outline: none;
    }

    &.hipHop:focus,
    &.hipHop:hover {
        border-color: rgb(249, 177, 61);
        outline: none;
    }
    
    &.kpop:focus,
    &.kpop:hover {
        border-color: rgb(83, 226, 86);
        outline: none;
    }
}

main {
    display: none;
}

.bigMain{
    display: block;
    background-color: rgba(108, 101, 89, 1);
    min-height: calc(100vh - 150px - 50px);
    padding-top: 40px;
}

.resultsHeading {
    text-align: center;
    margin: 0;
}

.results{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    list-style: none;
    margin: 0;
    padding: 40px 0;
    
    .artist{
        display:flex;
        justify-content:space-between;
        align-items:center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 2px 5px 0 black;
        background-color: rgba(249, 249, 249, 1);
        text-align: center;
        padding: 15px;
        font-family: 'Crimson Text', serif;
        font-size: 1.5rem;

        a {
            font-size: 1rem;
            text-decoration: none;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid black;
            color: rgba(171, 34, 23, 1);
            border-radius: 3px;
        }
    }
}

.fa-search {
    display: none;
}

footer{
    background-color: #222;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p{
        margin: 0;
        color:white;
    }
}

@media (max-width: 1100px) {
    .genreTag {
        font-size: 1.3rem;
        height: 120px;
        margin: 10px;
        width: 120px;
    }
}

@media (max-width: 600px) {
    .bottomHeaderFlexContainer {
        width: 100%;
    }

    .search {
        font-size: 1.5rem;
        width: 100%;
    }

    .submitButtonText {
        display: none;
    }
    
    .fa-search {
        display: block;
    }

    .genreTag {
        margin: 10px;
    }
}