html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.formContainer,
.genreTagsContainer {
  height: 0;
}

.formContainer,
.genreTagsContainer {
  width: 0;
}

.headerOverlay,
.topPosition .buttonContainer,
.topPosition .topHeaderFlexContainer {
  height: 100%;
}

.activeSearch,
form,
.genreTags,
.headerFlexContainer,
.headerOverlay,
.topPosition form {
  width: 100%;
}

header,
.headerFlexContainer {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.topPosition .bottomHeaderFlexContainer,
.topPosition .topHeaderFlexContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dropdown,
.fa-search,
main,
.topPosition h2 {
  display: none;
}

.formContainer,
.genreTagsContainer {
  opacity: 0;
}

.formContainer,
.genreTagsContainer {
  overflow: hidden;
}

.formContainer,
.genreTagsContainer {
  visibility: hidden;
}

.button,
.results .artist a {
  border-radius: 3px;
}

.results .artist,
.topPosition .buttonContainer .button {
  border-radius: 10px;
}

.dropdownMenu .dropdownContent,
footer p,
.results,
.resultsHeading,
.subHeading,
.topPosition .buttonContainer {
  margin: 0;
}

.dropdownMenu .dropdownItem:focus,
.dropdownMenu .dropdownItem:hover,
.genreTag.hipHop:focus,
.genreTag.hipHop:hover,
.genreTag.kpop:focus,
.genreTag.kpop:hover,
.genreTag.pop:focus,
.genreTag.pop:hover,
.genreTag.rnb:focus,
.genreTag.rnb:hover,
.genreTag.rock:focus,
.genreTag.rock:hover,
.search:focus {
  outline: none;
}

.button,
.dropdownMenu .dropdownItem,
.genreTag,
h1 {
  cursor: pointer;
}

.button,
.dropdownMenu .dropdownItem,
footer p,
.genreTag,
h1,
h2,
.search {
  color: white;
}

.button,
h1,
.results .artist {
  font-family: 'Crimson Text', serif;
}

.results .artist a,
.topPosition .genreTag,
.topPosition .buttonContainer .button {
  font-size: 1rem;
}

.button,
.results .artist,
.topPosition .search {
  font-size: 1.5rem;
}

.buttonContainer .button,
.search {
  font-size: 2.5rem;
}

.results .artist,
.resultsHeading,
.subHeading {
  text-align: center;
}

.button,
.buttonContainer .button {
  text-transform: uppercase;
}

.dropdownMenu .dropdownItem,
.genreTags,
.results {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.imageContainer {
  max-width: 250px;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1350px;
  width: 95%;
}

header {
  background-image: url(../assets/headerBackground.jpg);
  background-position: center center;
  background-size: cover;
}

.headerOverlay {
  background-color: rgba(47, 42, 42, 0.649);
}

.headerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  height: calc(100vh - 50px);
  min-height: 750px;
}

.topHeaderFlexContainer,
.bottomHeaderFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.bottomHeaderFlexContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.topPosition {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 150px;
}

.topPosition > .formContainer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 50px;
}

.topPosition h1 {
  font-size: 3.5rem;
}

.topPosition .button {
  padding: 7px 15px;
}

.topPosition > .formContainer .dropdownItem {
  background-color: #4f453e;
}

.topPosition .headerFlexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topPosition .buttonContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.topPosition .buttonContainer .button {
  width: 150px;
}

.topPosition .genreTag {
  font-weight: bold;
  height: 100px;
  margin: 5px;
  width: 100px;
}

.topPosition .dropdown {
  left: 0;
  width: 95%;
}

.topPosition .dropdown .dropdownItem {
  background-color: #242424;
}

h1 {
  font-size: 5rem;
  margin: 10px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  max-width: 760px;
}

.search {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  padding: 5px;
  width: 80%;
}

.button {
  background-color: transparent;
  border: 3px solid white;
  line-height: 1;
  margin-left: 10px;
  padding: 8px 15px;
}

.button:focus, .button:hover {
  border: 3px solid gold;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  margin-top: 40px;
}

.buttonContainer .button {
  border-radius: 20px;
  padding: 16px 30px;
  margin: 0 25px;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  position: relative;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.subHeading {
  margin-top: 20px;
}

.dropdown {
  left: 0;
  max-width: 760px;
  position: absolute;
  top: 100%;
  width: 98%;
}

.isActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdownMenu {
  width: 80%;
}

.dropdownMenu .dropdownItem {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid transparent;
  padding: 10px;
}

.dropdownMenu .dropdownItem:focus, .dropdownMenu .dropdownItem:hover {
  border: 1px solid white;
}

.dropdownMenu .dropdownContent {
  max-height: 200px;
  overflow-y: scroll;
  padding-left: 0;
}

.genreTagsContainer {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.genreTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.activeSearch {
  height: auto;
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

.activeSearch.formContainer {
  margin: 20px;
}

.genreTag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  border: 5px solid white;
  border-radius: 50%;
  font-size: 2rem;
  height: 160px;
  margin: 20px;
  width: 160px;
}

.genreTag.rnb:focus, .genreTag.rnb:hover {
  border-color: #6262b4;
}

.genreTag.pop:focus, .genreTag.pop:hover {
  border-color: #fb4fb0;
}

.genreTag.rock:focus, .genreTag.rock:hover {
  border-color: #fe4040;
}

.genreTag.hipHop:focus, .genreTag.hipHop:hover {
  border-color: #f9b13d;
}

.genreTag.kpop:focus, .genreTag.kpop:hover {
  border-color: #53e256;
}

.bigMain {
  background-color: #6c6559;
  display: block;
  min-height: calc(100vh - 150px - 50px);
  padding-top: 40px;
}

.results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  padding: 40px 0;
}

.results .artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 2px 5px 0 black;
          box-shadow: 0 2px 5px 0 black;
  padding: 15px;
}

.results .artist a {
  border: 1px solid black;
  color: #ab2217;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  background-color: #222222;
  height: 50px;
}

@media (max-width: 1250px) {
  .topPosition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .topPosition .buttonContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .topPosition .topHeaderFlexContainer,
  .topPosition .bottomHeaderFlexContainer {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .topPosition .bottomHeaderFlexContainer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .topPosition .genreTags {
    margin: 0;
  }
  .topPosition .formContainer,
  .topPosition .genreTagsContainer {
    opacity: 0;
    -webkit-transition: opacity .5s .4s;
    transition: opacity .5s .4s;
  }
  .topPosition .buttonContainer .button {
    margin-right: 0;
  }
  .artistTopPosition,
  .genreTopPosition {
    height: 300px;
    overflow: visible;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .artistTopPosition .genreTagsContainer,
  .artistTopPosition .formContainer,
  .genreTopPosition .genreTagsContainer,
  .genreTopPosition .formContainer {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .genreTag {
    font-size: 1.3rem;
    height: 120px;
    margin: 10px;
    width: 120px;
  }
  .imageContainer {
    width: 90%;
  }
  .results {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .results .artist {
    font-size: 1.2rem;
  }
}

@media (max-width: 750px) {
  .results {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .topPosition .buttonContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topPosition .buttonContainer .button {
    border-radius: 10px;
    margin: 0 10px;
    padding: 8px 15px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: calc(2rem + 6vw);
  }
  .subHeading {
    margin-top: 10px;
  }
  .headerFlexContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .topHeaderFlexContainer {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 10px;
  }
  .bottomHeaderFlexContainer {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    width: 100%;
  }
  .search {
    font-size: 1.5rem;
    width: 100%;
  }
  .submitButtonText {
    display: none;
  }
  .fa-search {
    display: block;
  }
  .topPosition .genreTags {
    margin-bottom: 20px;
  }
  .genreTag {
    font-size: 1rem;
    margin: 10px;
    height: 110px;
    width: 110px;
  }
  .topPosition .buttonContainer .button {
    padding: 10px 8px;
    width: 100px;
  }
  .buttonContainer .button {
    font-size: 1.5rem;
    margin: 0 10px;
  }
  .topPosition.genreTopPosition {
    height: 425px;
  }
  .topPosition .bottomHeaderFlexContainer {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
  }
}

@media (max-width: 500px) {
  .results {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
    width: 70%;
  }
  .results .artist {
    font-size: 1rem;
  }
  .topPosition.artistTopPosition {
    height: 300px;
  }
  .topPosition {
    height: 175px;
  }
  .topPosition .topHeaderFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 175px;
    margin-bottom: 20px;
  }
  .topPosition h1 {
    font-size: 3rem;
  }
  .topPosition .buttonContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .buttonContainer .button {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .topPosition.genreTopPosition {
    height: 510px;
  }
}
